<h1> Sign Up: </h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form method="POST" action="/signup">
    {{form.csrf_token}}
    <div>{{form.username.label}}:{{form.username()}}</div>
    <div>{{form.password.label}}:{{form.password()}}</div>
    <button type="submit">Submit</button>
    {{userId}}
</form>
